<%= link_to 'New Task', new_task_path, class: 'btn btn-primary'%>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Limit</th>
      <th colspan="1"></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <!--<td><%= task.status %></td>-->
        <td>
          <font color="#ff0000"><%= "Expiration" if (task.limit_date - Date.today).to_i < 0 %></font>
          <font color="#008000"><%= "Today" if (task.limit_date - Date.today).to_i == 0 %></font>
          <font color="#ffa500"><%= "Tomorrow" if (task.limit_date - Date.today).to_i == 1 %></font>
          <% (2..6).each do |day| %>
            <%= "#{day} days" if (task.limit_date - Date.today).to_i == day %>
          <% end %>
          <%= task.limit_date if (task.limit_date - Date.today).to_i >= 7 %>
        </td>
        <td><%= link_to 'Done', task, method: :delete, class: "btn btn-success" %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Remove', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>