<!--<h1>-->
<!--  <strong>Title:</strong>-->
<!--  <%= @task.title %>-->
<!--</h1>-->

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Memo</th>
      <th>Limit date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @task.title %></td>
      <td><%= @task.status %></td>
      <td><%= @task.limit_date %></td>
    </tr>
  </tbody>
</table>

<p>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
</p>